<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139911213662-23pq59vmi94q71cpk8j19d9gvvf6j49s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139911213662-23pq59vmi94q71cpk8j19d9gvvf6j49s</string>
	<key>API_KEY</key>
	<string>AIzaSyAsQfWmRaPcsmW8txr8c73PH9D2js6BKLo</string>
	<key>GCM_SENDER_ID</key>
	<string>139911213662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.downloadaccess.visitor</string>
	<key>PROJECT_ID</key>
	<string>access-app-aux</string>
	<key>STORAGE_BUCKET</key>
	<string>access-app-aux.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139911213662:ios:cdfbc36142396d07727acf</string>
	<key>DATABASE_URL</key>
	<string>https://access-app-aux.firebaseio.com</string>
</dict>
</plist>